<% include partials/header %>
<div class="ui main container">
<div>
    <h1><%= post.title %></h1>
    <img src="<%= post.image %>" alt="header image">
    <p><%= post.created %></p>
    <p><%= post.body %></p>
</div>
</div>

<% include partials/footer %>